<div class= "current-group">
  <h2><%= @group.name %></h2>
</div>
<div class= "heder-right">
  <div class= "nav-lists">
    <div class= "nav-icon">
      <%= fa_icon "chevron-circle-down 2x" %>
      </div>
      <ul class= "nav-list">
        <li>
          <%= link_to "投稿",new_group_post_path(@group) , class: "nav-item" %>
        </li>
        <li>
          <%= link_to "グループ編集", edit_group_path(@group), class: "nav-item" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item" %>
        </li>
      </ul>
  </div>
</div>
<div class= "contents">
  <ul class= "content-lists">
    <%= render @posts %>
  </ul>
</div>




