
<main>
  <div class= "contents">
    <ul class= "content-lists">
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>
      <li class= "content-list">
        <%= image_tag 'image2.jpeg', class: "content-image"%>
        <h2>＜html cssのおすすめの本＞</h2>
        <div class= "content-icon">
          <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
          <%= link_to fa_icon("trash"), "#" , class: "trash-icon"%>
            <div class= "content-name">
            玉野拓弥
          </div>
        </div>
      </li>

  </ul>

<div class= "menu-trigger">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class= "side-bar">
  <div class= "user-name">
      <h2>User Name</h2>
        <p>玉野拓弥</p>
          </div>
          <div class= "group-name">
          <h2>80期チームA</h2>
      </div>
          <div class= "group-name">
          <h2>80期チームB</h2>
      </div>
          <div class= "group-name">
          <h2>80期チームC</h2>
      </div>
          <div class= "group-name">
          <h2>80期チームD</h2>
      </div>
          <div class= "group-name">
          <h2>80期チームE</h2>
      </div>
          <div class= "group-name">
          <h2>80期チームF</h2>
      </div>
  </div>

</main>