<div class= "wrapper">
  <div class= "show-content">
    <div class= "show-list">
       <%= image_tag @post.image.url, class: "show-image"%>
        <%= link_to "<#{@post.title}>", group_post_path(@group, @post.id), class: "show-title" %>
        <div class= "textArea">
          <%= @post.text%>
          </div>
          <div class= "show-icon">
            <%= link_to fa_icon("heart"), "#" , class: "heart-icon"%>
            <% if user_signed_in? && current_user.id == @post.user_id %>
              <%= link_to fa_icon("trash"), group_post_path(@group, @post.id), method: :delete, data:{confirm: "削除しますか？"}, class: "trash-icon"%>
            <% end %>
              <div class= "content-name">
              <%= @post.user.name %>
            </div>
            <div class= "show-date">
              <%= @post.created_at.strftime("%m/%d %H時%M分") %>
            </div>
        </div>
     </div>
  </div>
</div>